.img {
  width: 121px;
}

.containerFluid {
  position: relative;
  z-index: 2;
  background-color: var(--white);
  padding: 10px 0;
}

.containerFluid.header {
  margin-top: 60px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.list {
  display: flex;
  align-items: center;
}

.item {
  padding: 0 12px;
}

.item.active {
  position: relative;
}

.item.active:before {
  content: " ";
  display: block;
  position: absolute;
  top: 29px;
  width: 50px;
  height: 3px;
  background-color: #80d3c6;
  left: 33%;
  border-radius: 5px;
}

@media (min-width: 992px) {
  .item {
    padding: 0 33px;
  }
}

.iconsContainer {
  display: flex;
  flex-wrap: nowrap;
}

.iconsContainer img {
  padding: 4px !important;
}

.mobileIcon {
  color: var(--black);
  width: 30px;
  margin-bottom: 15px;
}

.mobileIcon svg {
  font-size: 2rem;
  position: absolute;
  top: 0;
  left: 0;
}
