.containerFluid {
  width: 100%;
  background-color: #dbf0ee;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 30px;
}
