html,
body,
h1,
p {
  padding: 0;
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

button {
  border: 0;
  outline: none;
  background-color: var(---white);
}

address {
  margin: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --main-color: #005359;
  --blue: #2f80ed;
  --black: #353a3d;
  --white: #fff;
  --green: #004c51;
  --border: #e0e0e0;
  --text: #4f4f4f;
}

.slick-dots li.slick-active button:before {
  color: var(--main-color);
}

.slick-dots li button:before {
  font-size: 11px;
}
