.h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 131.5%;

  text-align: left;
  letter-spacing: 0.01em;
  color: var(--black);
}

.h12 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 131.5%;

  text-align: left;
  letter-spacing: 0.01em;
  color: var(--white);
}

.h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 131.5%;

  text-align: left;
  letter-spacing: 0.01em;

  color: var(--green);
}

.h4 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
}
