html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

button {
  border: 0;
  outline: none;
  background-color: var(---white);
}

address {
  margin: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --main-color: #005359;
  --blue: #2f80ed;
  --black: #353a3d;
  --white: #fff;
  --green: #004c51;
  --border: #e0e0e0;
}
